ExcelRW/bin/Debug/EPPlus.dll
ExcelRW/bin/Debug/EPPlus.xml
Test/obj/x86/Debug/Test.pdb
Test/obj/x86/Debug/Test.csprojResolveAssemblyReference.cache
Test/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/obj/x86/Debug/Test.exe
ExcelRW/bin/Debug/ExcelReadAndWrite.dll
ExcelRW/bin/Debug/NPOI.dll
ExcelRW/bin/Debug/ExcelReadAndWrite.pdb
ExcelRW/bin/Debug/ICSharpCode.SharpZipLib.dll
ExcelRW/bin/Debug/NPOI.OOXML.dll
ExcelRW/bin/Debug/NPOI.OpenXml4Net.dll
*.suo
*.suo
*.dll
*.xml
*.cache
*.txt
*.xls
*.xlsx
*.pdb
*.suo
*.suo
ExcelReadAndWrite.suo
.vs/ExcelReadAndWrite/v15/.suo
ExcelReadAndWrite.suo
*.dll
*.dll
*.pdb
*.dll
*.pdb
*.exe
*.pdb
*.Cache
*.txt
*.resources
*.exe
Test/bin/Debug/Test.exe
*.manifest
*.txt
Test/bin/Debug/Test.pdb
*.suo
*.dll
*.pdb
*.exe
*.pdb
*.txt
*.Cache
Test/bin/Debug/ExcelReadAndWrite.dll
Test/bin/Debug/ExcelReadAndWrite.pdb
Test/bin/Debug/Test.exe
Test/bin/Debug/Test.pdb
Test/obj/x86/Debug/Test.csproj.FileListAbsolute.txt
Test/obj/x86/Debug/Test.csproj.GenerateResource.Cache
